<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395140163229-v6huhi3agp1g8iqqq0e82beotsuv941h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395140163229-v6huhi3agp1g8iqqq0e82beotsuv941h</string>
	<key>API_KEY</key>
	<string>AIzaSyDzCvEPCJpPh-pklgEnM6EXCbjDcMmeqz4</string>
	<key>GCM_SENDER_ID</key>
	<string>395140163229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caminandum.android</string>
	<key>PROJECT_ID</key>
	<string>caminandum-89c58</string>
	<key>STORAGE_BUCKET</key>
	<string>caminandum-89c58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395140163229:ios:d72fffde89206e3d1a9674</string>
	<key>DATABASE_URL</key>
	<string>https://caminandum-89c58.firebaseio.com</string>
</dict>
</plist>